body{
    margin: 0; /* Внешний отсутп */
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid orangered;
}

header h1{
    margin: 0 0 15px 0; 
    color: orangered;
}

nav a{
    margin-right: 15px;
    text-decoration: none;
    color: darkslategray
}


nav a:hover{
    margin-right: 15px;
    text-decoration: none;
    color: orangered
}

a{
    margin-right: 15px;
    text-decoration: none;
    color: darkslategray
}


a:hover{
    margin-right: 15px;
    text-decoration: none;
    color: orangered
}

main{
    padding: 30px;
}

h2{
    color: orangered;
}

button{
    background-color: orangered;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
}

button:hover{
    background-color: darkorange;
}

input{
    width: 280px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid gray;
}

label{
    display: block;
    margin-bottom: 15px;
}

.welcome{
    background-color: white;
    padding: 20px;
    border: 1px solid orangered;
}

.products{
    display: flex;
    gap: 20px;
}

.product{
    background-color: white;
    border: 1px solid orangered;
    padding: 15px;
    width: 250px;
}

.price{
    color: orangered;
    font-size: 18px;
}

.cat-head{
    background-color: white;
    border: 1px solid orangered;
    padding: 20px;
    margin-bottom: 20px;
}

.cat-head h2{
    margin-top: 0;
}

.logform{
    background-color: white;
    border: 1px solid orangered;
    padding: 20px;
    width: 300px;  
}

.logform h2{
    margin-top: 0;
}

.welcome h2{
    margin-top: 0;
}

.logform a{
    color: orangered;
    text-decoration: none;
}


.logform a:hover{
    color: darkorange;
}

.product img{
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.product-page{
    background-color: white;
    border: 1px solid gray;
    padding: 30px;
    margin-top: 20px;
    display: flex;
    gap: 40px;

}

.product-img{
    width: 50%;
}

.product-img img{
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.product-info{
    width: 50%;
}

.product-info h2{
    color: orangered;
    font-size: 28px;
}

.product-info .price{
    color: orangered;
    font-size: 24px;
    font-weight: bold;
}