{% extends "base.html" %}

{%block title %}
Вход - VM
{% endblock %}

{% block content %}

<div class="logform">
    <h2>Вход</h2>

    <form>
        <label>
            ЛОГИН:<input type="text" name="username">
        </label>

        

        <label>
            ПАРОЛЬ:<input type="password" name="password">
        </label>

        

        <button type="submit">ВОЙТИ</button>
        <p>
            Еще нет аккаунта?
            <a href="/register">Зарегистрироваться</a>
        </p>
    </form>
</div>

{% endblock %}
