{% extends "base.html" %}

{%block title %}
Регистрация - VM
{% endblock %}

{% block content %}
<div class="logform">
    <h2>Регистрация</h2>

    <form>
        <label>
            ЛОГИН:<input type="text" name="username">
        </label>

        

        <label>
            ПОЧТА:<input type="email" name="email">
        </label>

        

        <label>
            ПАРОЛЬ:<input type="password" name="password">
        </label>

        

        <button type="submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
        <p>
            Уже есть аккаунт?
            <a href="/login">Войти</a>
        </p>
    </form>
</div>

{% endblock %}
